legacy/charthits.txt
legacy/charthitsnhs.txt
cache.json
log.txt
vendor/
legacy/zip/
legacy/data/
legacy/zipnhs/
legacy/datanhs/
export.bin
.DS_Store
composer.lock
/src/cache-ch.json
/.idea
/legacy/charthitsch.txt
/legacy/datach
/legacy/zipch
